# Core dependencies with minimum versions for security and compatibility
numpy>=1.20.0
scikit-learn>=1.0.1  # >= 1.0.1 required to fix CVE for Denial of Service vulnerability
scipy>=1.8.0  # >= 1.8.0 required to fix use-after-free vulnerability
diffprivlib>=0.6.0
